.grid-item{
    cursor: pointer;
    margin: 10px;
    border: 2px solid;
    display: grid;
    border-color: var(--border-outer-color);
    border-top-color: white;
    outline: 2px solid var(--border-color);
    outline-offset: -3px;
    padding: 10px;
    max-width: 180px;
    background-image: linear-gradient(var(--background),var(--container-bg-dark));
    color: var(--text-title-color);
}

.grid-item img{
    width: 90px;
    height: 90px;
    justify-self: center;
}
.local-buil-container{
    display: grid;
    grid-template-columns: 1;
    
}