
<div class="grid-container" *ngIf="this.getBuilds" >
    
    <span (click)="navigateToBuild(build)" class="grid-item" *ngFor="let build of $getBuilds | async" >
            {{build.buildName}}
        <img *ngIf="build.selectedCharacter" [src]="build.selectedCharacter.icon" [alt]="build.selectedCharacter.characterType">
     </span>
 </div>
 
<div class="grid-container" *ngIf="this.getInprgBuild" >
    
    <span (click)="navigateToBuild(build)" class="grid-item" *ngFor="let build of $getInProgressBuilds | async"  >
        {{build.buildName}}
        <img *ngIf="build.selectedCharacter" [src]="build.selectedCharacter.icon" [alt]="build.selectedCharacter.characterType">
     </span>
 </div>