.first-step-container{
    display: flex;
    justify-content: space-evenly;
}

.div-right{
    width: 60%;
}
.button{
    color: var();
}


.title{
    color: var(--text-title-color);
}

.grid-container{
    display: grid;
    
}

.filter-field{
    margin: .5em;   
}
.button{
    margin: .5em
}