
<div class="grid">
<div class="start-grid text" routerLink="/create">
    <h1>Start making your build</h1>
    <p>Click here to start making a build</p>
</div>
<div class="text" ><h1>Import build</h1>
    <p>Paste the build string in the textfield below and click the button to import a build</p>
    <input [(ngModel)]="this.importString" >
    <button (click)="importBuild()">Import</button>
</div>

<div class="text">
    <h1>Continue working on your previous builds</h1>
    <p>Click the build you want to continue working on</p>
    <app-buil-container [gridRepeat]="5" [getInprgBuild]="true"></app-buil-container>
</div>
<div class="text">
    <h1 >Share your build</h1>
    <p >To share your build, copy this link and share it, other people can then import the build.</p>
    <app-buil-container [exportable]="true" [allSavedBuilds]="this.allSavedBuilds" [gridRepeat]="6"></app-buil-container>
</div>
</div>
