.grid{
    display: grid;
    gap: 15px;
    grid-template-rows: 150px 180px auto auto
}

.start-grid{
    cursor: pointer;
}
.share-grid{
    justify-self: flex-end;
}
.share-item{
    text-align: end;
}

.continue-grid{
    display: grid;
}

.text{
    margin: 9px;
    border: 2px solid;
    border-color: var(--border-outer-color);
    border-top-color: white;
    outline: 2px solid var(--border-color);
    outline-offset: -3px;
    padding: 9px;
}

.text > h1{
    color: var(--text-title-color);
}