<!-- Här vill vi visa:
1. Lite text om vad man kan göra?
2. Lite text om hur man gör för att skapa en build
3. Builds man har gjort -->

<div class="grid">
<div class="start-grid text">
    <h1>Start making your build</h1>
    <p>To start making your build, click the Create button in the header or follow this <a routerLink="/create">link</a></p>
</div>
<div class="share-grid text">
    <h1>Share your build</h1>
    <p>To share your build, copy this link and share it, other people can then import the build.</p>
</div>
<div class="continue-grid text">
    <h1>Continue working on your previous builds</h1>
    <p>Click the build you want to continue working on</p>
</div>
</div>
