.header-container{
    width: 100%;
    box-shadow: 0 8px 6px -6px black;
    position: sticky;
}

.button-container{
    display: -webkit-flex;
  display: flex;
  background-color: var(--container-bg-dark);
  color: white;
  font-weight: bold;
  justify-content: center;
  position: relative;
}
.image{
    align-content: space-around;
       margin-right: 15px; 
       margin-left: 15px;
}

.home{
  color: var(--text-title-color);
    cursor: pointer;
    order: -1;
  font-size: 48px;
  position: absolute;
  top: 0;
  left: 0;
}