<div class="header-container">
    
    <div class="button-container">
        <div class="home" (click)="navigateHome()" >Home</div>
        <img class="image" id="create" [src]="this.createHighlighted ? 'assets/create_btn_highlighted.png' : 'assets/create_btn.png'"  alt="Create Build" routerLink="/create">
        <img class="image" id="skills" [src]="this.skillsHighlighted ? 'assets/skills_btn_highlighted.png' : 'assets/skills_btn.png'"  alt="View Skills" routerLink="/view" >
    </div>
</div>
