.base-title{
    color: var(--text-title-color);
}

.base-container{
    border: 2px solid;
    border-color: var(--border-outer-color);
    border-top-color: white;
    outline: 2px solid var(--border-color);
    outline-offset: -3px;
    margin: .5em;
    padding: .5em;
    display: grid;
    grid-template-rows: auto 45% 40% 10%;
    justify-items: center;
    text-align: center;
    background-image: linear-gradient(var(--background),var(--container-bg-dark));
    min-height: 490px;
}

.base-icon{
    width: 10em;
    height: 10em;
    align-self: center;
}


.stat{
    padding: 0;
    margin: 0;
}

.selector-container{
    width: 100%;
}

.positive{
    color: var(--positive-color);
}
.negative{
    color: var(--negative-color);
}