.base-title{
    color: var(--text-title-color);
}

.base-container{
    border: 2px solid;
    border-color: var(--border-outer-color);
    border-top-color: white;
    outline: 2px solid var(--border-color);
    outline-offset: -3px;
    margin: .5em;
    padding: .5em;
    display: grid;
    justify-items: center;
    text-align: center;
    background-image: linear-gradient(var(--background),var(--container-bg-dark));
    min-height: 490px;
}

.base-icon{
    width: 10em;
    height: 10em;
    
}

.base-container{
    border: 2px solid;
    border-color: var(--border-outer-color);
    border-top-color: white;
    outline: 2px solid var(--border-color);
    outline-offset: -3px;
    margin: .5em;
    padding: .5em;
    display: grid;
    justify-items: center;
    text-align: center;
    background-image: linear-gradient(var(--background),var(--container-bg-dark));
    min-height: 490px;
}

.weapon-icon{
    width: 10em;
    height: 10em;
    
}
.selector-container{
    width: 100%;
}

.positive{
    color: var(--positive-color);
}
.negative{
    color: var(--negative-color);
}