<div class="rune-summary" *ngIf="this.currentBuild.selectedRunes && this.currentBuild.selectedRunes.length > 0 && this.currentBuild.stepNumber === 2">
  <div class="skill-stuff"><div class="skill-summary-item" *ngFor="let rune of this.currentBuild.selectedRunes; let i = index" >
    <button style="all: unset;" (click)="showRemoveText(i)" >  
      <img class="skill-icon" *ngIf="rune.icon" [src]="rune.icon" [alt]="rune.title">
      <button (click)="removeRune(i)" class="remove-text btn btn-danger" *ngIf="this.selectedIndex === i && this.showRemove" >Remove skill</button>
  </button>
  </div></div>
  
  <progress class="progress-bar" [value]="totalCost()" [max]="10">Progress</progress>
</div>

<div class="skill-summary" *ngIf="this.skills !== undefined && this.skills.length > 0 && this.currentBuild.stepNumber === 3">
    <div class="skill-summary-item" *ngFor="let skill of this.skills; let i = index" >
      <button style="all: unset;" (click)="showRemoveText(i)" >  
        <img class="skill-icon" *ngIf="skill.activeSkill.icon" [src]="skill.activeSkill.icon" [alt]="skill.activeSkill.title">
        <button (click)="removeSkill(i)" class="remove-text btn btn-danger" *ngIf="this.selectedIndex === i && this.showRemove" >Remove skill</button>
    </button>
    </div>
</div>

