.build-character-weapon-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-items: center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
}
.summary-container{
    border: 2px solid;
    border-color: var(--border-outer-color);
    border-top-color: white;
    outline: 2px solid var(--border-color);
    outline-offset: -3px;
    margin: 5px;
    padding: 5px;
    justify-items: center;
    text-align: center;
    background-image: linear-gradient(var(--background),var(--container-bg-dark));
    width: 140px;
}
.base-title{
    color: var(--text-title-color);
}
.base-icon{
    width: 90px;
    height: 90px;
    align-self: center;
}

