
    <div class="build-character-weapon-container" *ngIf="this.build.selectedCharacter" >
      <div class="summary-container">
      <h5 class="base-title" > {{this.build.selectedCharacter.characterType}} </h5>
      <img class="base-icon" *ngIf="this.build.selectedCharacter.icon" [src]="this.build.selectedCharacter.icon" [alt]="this.build.selectedCharacter.characterType" >
    </div>
      <div class="summary-container" *ngIf="this.build.selectedWeapon" > 
        <h5 class="base-title" > {{this.build.selectedWeapon.name}} </h5>
        <img class="base-icon" *ngIf="this.build.selectedWeapon.icon" [src]="this.build.selectedWeapon.icon" [alt]="this.build.selectedWeapon.name" >
  </div>
    </div>
    
   
    <div class="grid-container" >
      <div class="summary-container" *ngFor="let skill of this.build.selectedSkills" >
        <h4 class="base-title"> {{this.skill.activeSkill.title}} </h4>
    <img class="base-icon" [alt]="this.skill.activeSkill.title" [src]="this.skill.activeSkill.icon">
      </div>
      </div>
      <div class="grid-container" >
        <div class="summary-container"  *ngFor="let rune of this.build.selectedRunes" >
          <img class="base-icon" [alt]="this.rune.title" [src]="this.rune.icon">
          <h5 class="base-title"> {{this.rune.title}} </h5>
        </div>
        
      </div>