.skill-container{
    border: 2px solid;
    border-color: var(--border-outer-color);
    border-top-color: white;
    outline: 2px solid var(--border-color);
    outline-offset: -3px;
    margin: 4.5px;
    padding: 4.5px;
    display: grid;
    grid-template-rows: 30px 180px;
    justify-items: center;
    text-align: center;
    background-image: linear-gradient(var(--background),var(--container-bg-dark));
    min-height: 670px;
}

.skill-icon{
    width: 180px;
    height: 180px;
    align-self: center;
}
.skill-description{
    margin: 0;
}

.skill-title{
    color: var(--text-title-color);
    margin: 0;
}
.selector-container{
    width: 100%;
}