.skill-container{
    border: 2px solid;
    border-color: var(--border-outer-color);
    border-top-color: white;
    outline: 2px solid var(--border-color);
    outline-offset: -3px;
    margin: .5em;
    padding: .5em;
    display: grid;
    justify-items: center;
    text-align: center;
    background-image: linear-gradient(var(--background),var(--container-bg-dark));
}

.skill-icon{
    width: 10em;
    height: 10em;
    
}

.skill-title{
    color: var(--title-color);
}
