<div class="skill-container">
    <img class="skill-icon" [alt]="this.skill.activeSkill.title" [src]="this.skill.activeSkill.icon">
    <h1 class="skill-title"> {{this.skill.activeSkill.title}} </h1>

    <p class="skill-description" > {{this.skill.activeSkill.description}} </p>
    <div *ngIf="this.skill.statusEffect !== undefined">
        <p class="skill-status-effect" *ngFor="let object of this.skill.statusEffectObj">
            <span class="status-effect-name" [style.color]="object.effectHighligtColor">{{object.effectTitle}}</span>
            <span>: </span>
            <span>{{object.effectDetail}}</span> 
        </p>
    </div>
    <app-selector-base 
    [selected]="this.selected"
    [selectItem]="{objectKey:'selectedSkills',item:this.skill}"
    [currentBuild]="this.currentBuild">
</app-selector-base>
</div>
