.rune-container{
    border: 2px solid;
    border-color: var(--border-outer-color);
    border-top-color: white;
    outline: 2px solid var(--border-color);
    outline-offset: -3px;
    margin: 4.5px;
    padding: 4.5px;
    display: grid;
    justify-items: center;
    text-align: center;
    background-image: linear-gradient(var(--background),var(--container-bg-dark));
    min-height: 460px
}
.rune-span-text{
    color: var(--highlight-color);
}

.rune-icon{
    width: 180px;
    height: 180px;
    
}

.rune-title{
    color: var(--title-color);
}

.selector-container{
    width: 100%;
}
